body {
background-image: url("http://fc08.deviantart.net/fs71/f/2012/212/6/f/saints_row_the_third_wp_by_waslosman-d58upo4.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#izvelne {
	background-color:#ff0000;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:3px solid #ffe600;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:10px;
	text-decoration:none;
}
#izvelne:hover {
	background-color:#00fbff;
	text-decoration: none;
}
div {
	text-align: center;
}
#apt h1{
	position: relative;
	color: yellow;
	text-align: left;
	padding-left: 320px;
	padding-top: 30px;
}
table{
	color: #FF0033;
	padding-top: 50px;
	padding-left: 70px;

}
td {
	text-align: left;
}
#beigas {
	padding-top: 100px;
}
.footer {
	text-align: right;
	padding-right: 20px;
	color: red;
}