body {
	background-color: orange;
	width: 1100px;
	height: 600px;
	margin: auto;
}
#Galvenais {
	position: relative;
	width: 1100px;
	height: 650px;
	border: 0.75pt solid #000000;
	background-color: purple;
}
#izvelne {
	background-color:#ff0000;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:3px solid #ffe600;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:10px;
	text-decoration:none;
}
#izvelne:hover {
	background-color:#00fbff;
	text-decoration: none;
}
div {
	text-align: center;
}
#gal h1{
	position: relative;
	color: yellow;
	text-align: left;
	padding-left: 100px;
}

th {
	font-size: 20px;
	color: #58E000;
}
.footer {
	text-align: right;
	padding-right: 20px;
	color: #FFA073;
}